.fundo-1{
    background: url(/imgens/fundo-1.png);
}

.fundo-2{
    background: url(/imgens/fundo-2.png);
}

.fundo-3{
    background: url(/imgens/fundo-3.png);
}

.fundo-4{
    background: url(/imgens/fundo-4.png);
}

.fundo-5{
    background: url(/imgens/fundo-5.png);
}

.fundo-6{
    background: url(/imgens/fundo-6.png);
}

.fundo-7{
    background: url(/imgens/fundo-7.png);
}