.fundo-1{
    background: url(/imgens/fundo-1.jpg);
}

.fundo-2{
    background: url(/imgens/fundo-2.jpg);
}

.fundo-3{
    background: url(/imgens/fundo-3.jpg);
}

.fundo-4{
    background: url(/imgens/fundo-4.jpg);
}

.fundo-5{
    background: url(/imgens/fundo-5.jpg);
}

.fundo-6{
    background: url(/imgens/fundo-6.jpg);
}

.fundo-7{
    background: url(/imgens/fundo-7.jpg);
}